    <footer class="colophon">
		<ul>
			<li><a href="http://landphosting.com">Home</a></li>&middot;
			<li><a href="http://landphosting.com/plans">Plans</a></li>&middot;
			<li><a href="http://landphosting.com/faq">FAQ</a></li>&middot;
			<li><a href="http://landphosting.com/billing/contact.php">Support</a></li>&middot;
			<li><a href="http://landphosting.com/billing/clientarea.php">Customer Login</a></li>&middot;
			<li><a href="http://landphosting.com/team">Team</a></li>&middot;
			<li><a href="http://blog.landphosting.com">Blog</a></li>&middot;
			<li><a href="/feed.xml">RSS</a></li>
		</ul>
					<p>&copy {{ site.time | date: '%Y' }} L&P Hosting &mdash; All Rights Reserved.</p>
				</footer>
			</div>
            
            {% include js.html %}
            
	  </body>
</html>