      <footer class="colophon">
        <ul>
          <li><a href="http://landphosting.com">Home</a></li>
          <li><a href="http://blog.landphosting.com">Blog</a></li>
          <li><a href="http://landphosting.com/plans">Plans</a>	</li> <li><a href="http://landphosting.com/faq">FAQ</a></li>     <li><a href="http://landphosting.com/billing/contact.php">Support</a></li>		<li><a href="http://landphosting.com/billing/clientarea.php">Customer Login</a></li>
          <li><a href="/feed.xml">Subscribe via RSS</a></li>
        </ul>

        <p>&copy; {{ site.time | date: '%Y' }}. All rights reserved.</p>
      </footer>

    </div> <!-- /close container -->

    {% include js.html %}

  </body>
</html>
